<div [ngClass]="{ header: true, colored: colored }">
    <div [ngClass]="{ header_content: true, colored: colored }">

        <a href="#home"><img src="/assets/images/simonAvatar.jpg" [ngClass]="{ logo: true, colored: colored }"></a>

        <div [ngClass]="{ header_right: true, colored: colored }">
            <a href="#aboutme">About Me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </div>

    <label class="toggle-switch">
        <input type="checkbox" [(ngModel)]="language">
        <div class="slider"></div>
    </label>
</div>