<div class="skills">
    <div class="skills_content">
        <div class="title">SKILLS</div>
        <div class="p">Je suis beau, intelligent</div>
        <div class="p">Votez pour moi, Osez José !</div>
    </div>

    <div class="skills_resume">
        <div class="left_skills">
            <app-skill-list />
        </div>

        <div class="right_resume">
            <img src="/assets/images/resume_french.jpg" class="resume">
            <a href="#putdownload" class="download_button">Télécharger CV</a>
        </div>
    </div>
</div>
