
.home {
    background-image: url("/assets/images/wallpaper.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% auto;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
}

.home_content {
    padding: 0% 20% 0 20%;
    width: 60%;
    height: 100%;
    text-align: center;
    align-content: center;
    color: rgb(224, 224, 224);
}

.name {
    font-family: "Roboto", sans-serif;
    font-size: 52px;
    margin: 0 0 24px;
    font-weight: 400;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin: 0 0 50px;
}

.button_aboutme {
    background-color: #096CB4;
    color: rgb(224, 224, 224);
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 300;
    
    transition: 0.3s;
    &:hover {
        background-color: #000000;
    }
}
